<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="testQuestionDao"
          class="otus.homework.dao.TestQuestionDaoSimple">
    </bean>

    <bean id="testQuestionService"
          class="otus.homework.service.TestQuestionServiceImpl">
        <constructor-arg name="testQuestionDao"
                         ref="testQuestionDao"/>
    </bean>

    <bean id="consoleService"
          class="otus.homework.service.ConsoleServiceImpl">
        <constructor-arg name="questionService"
                         ref="testQuestionService"/>
    </bean>

</beans>
